* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#qr-code img{

width: 150px;
padding: 0;
margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(./images/4586076-abstract-red-light-trail-on-dark-blue-background-vetor.jpg);
}

.container{
    background-color: white;
    height: 240px;
    width: 400px;
    border-radius: 15px;
    padding: 25px;
    transition: 0.2s;

}

.container #qr-code{
    opacity: 0;
}

.container.active{
    height: 400px;
}

.container.active #qr-code{
    opacity: 1;
}




#qr-leitor{
    text-align: center;
}

.qr-header input, #button-qr{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 0.9;
}

.qr-header input{
    border: 1px solid gray;
    text-align: center;
    padding: 0px 20px;

}
.qr-header button{
    margin-top: 20px;
    background-color: brown;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.4s;
}

.qr-header button:hover{
    opacity: 1;
}

#qr-code{
    display: flex;
    opacity: 1;
    justify-content: center;
    margin-top: 35px;
}

.qr-header{
    margin-top: 15px;
}

@media (max-width: 1000px)
{
  body{
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 200px)
{
    .container{
        width: 600px;
    }
    body{
        font-size: 0.5rem;
    }

    .qr-header button{
        margin-top: 02px;
        
    }
}

.oneline{
    display: flex;
}

#clear {
    justify-content: center;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    border: none;
    margin: 3px;
    padding: 3px;
    transition: 0.3s;
    background-image: url(./images/lixeira.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
}

#clear:hover{
    background-color: brown;
    transition: 0.3s;
}

.rodape {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    overflow: hidden;
  }

  .rodape img{
    width: 35px;
    margin: 10px;
    margin-bottom: 0px;
  }

 .icon{
    max-width: 40px;
    height: auto;
    margin-right: 20px;
 }

  .icon:hover img{
    transform: scale(1.2);
  }

  .icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
